<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html ng-app='app'>
<head>
  <title>Wedo a Corporate Flat bootstrap Responsive website Template | Home :: w3layouts</title>
  <link href="style.css" type="text/css" rel="stylesheet" media="all">
  <link href="bootstrap.css" type="text/css" rel="stylesheet" media="all">
  <link rel="stylesheet" type="text/css" href="component.css" />
  <!--web-font-->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <!--//web-font-->
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Wedo Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- //Custom Theme files -->
  <!-- js -->
  <script src="js/jquery.min.js"></script>
  <!-- //js --> 
  <!-- start-smoth-scrolling-->
  <script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script> 
  <script type="text/javascript" src="js/modernizr.custom.53451.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){   
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
  </script>
  <!--//end-smoth-scrolling-->
  <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
          $(document).ready(function () {
              $('#horizontalTab').easyResponsiveTabs({
                  type: 'default', //Types: default, vertical, accordion           
                  width: 'auto', //auto or any width like 600px
                  fit: true   // 100% fit in a container
              });
          });
  </script>
</head>
<body ng-controller='ApplicationCtrl'>
  <!--header-->
  <div class="header">
    <div class="container">
      <div class="col-md-9 top-nav">
        <span class="menu"><img src="images/menu-icon.png" alt=""/></span>
        <ul class="nav1">
          <li><a href='/#/'>Home</a></li>
          <li><a href='/#/register'>Register</a></li>
          <li><a href='/#/login'>Login</a></li>
          <li><a href='/#/posts'>Create Project</a></li>
          <li><a href='/#/results'>View Projects</a></li>
          <li><a href='/#/conference'> Conference Room</a></li>
          <li ng-if='currentUser' class='navbar-text navbar-right'>
          Signed in as {{currentUser.username}}
        </li>
        </ul> 
        <!-- script-for-menu -->
         <script>
           $( "span.menu" ).click(function() {
           $( "ul.nav1" ).slideToggle( 300, function() {
           // Animation complete.
            });
           });
        </script>
        <!-- /script-for-menu -->
      </div>
    </div>  
  </div>
  <!--//header-->
  <!--services-->
  <div class="services">
    <div class="container">
      <h3>OUR SERVICES</h3>
      <div class="services-grids">
        <div class="col-md-4 services-grids-info">
          <div class="srvs-image">
            <a href="/#/posts"></a>
          </div>
          <div class="img-title">
            <h4>SITE INVESTIGATION<br>FORM</h4>
          </div>
          <div class="clearfix"> </div>
          <p>Complete and save site characteristics to a database for easy retrieval.</p>
        </div>
        <div class="col-md-4 services-grids-info">
          <div class="srvs-image">
            <a href="/#/samplepage.html" class="camera active"></a>
          </div>
          <div class="img-title">
            <h4>VIEW<br>DATA</h4>
          </div>
          <div class="clearfix"> </div>
          <p>View recorded data relating to site-investigations carried out, or search for 
            a specific report.</p>
        </div>
        <div class="col-md-4 services-grids-info">
          <div class="srvs-image">
            <a href="#" class="support"></a>
          </div>
          <div class="img-title">
            <h4>CONFERENCE<br>ROOM</h4>
          </div>
          <div class="clearfix"> </div>
          <p>Create a conference room to talk to collegues or customers via our video chat function.</p>
        </div>
      </div>
    </div>
  </div>
  <div class='container' ng-view></div>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js'></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular-route.js'></script>
    <script src='/app.js'></script>
</body>
</html>


