<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div ng-controller='PostsCtrl' class='container'>
      <h1>General Details</h1>
      <form role='form'>
        <div class='form-group'>
          <div class="input-group">
            <input ng-model="postfileRef" class='form-control'>
            <input ng-model="postprefix" class='form-control'>
            <input ng-model="postfirstName" class='form-control'>
            <input ng-model="postlastName" class='form-control'>
            <input ng-model="postaddress" class='form-control'>
            <input ng-model="posttownland" class='form-control'>
            <input ng-model="postphone" class='form-control'>
            <input ng-model="postfax" class='form-control'>
            <input ng-model="postemail" class='form-control'>
            <input ng-model="postnoResidents" class='form-control'>
            <input ng-model="postnoDoubleBeds" class='form-control'>
            <input ng-model="postnoSingleBeds" class='form-control'>
            <input ng-model="postwaterSupply" class='form-control'>
            <li>
              <span class='input-group-btn'>
                <button ng-click='addPost()' class='btn btn-default'>Submit</button>
            </li>
            </span>
          </div>
        </div>
      </form>
      <ul class='list-group'>
        <li ng-repeat="post in posts | orderBy:'-date'" class='list-group-item'>
          <span>{{ post.fileRef }} {{ post.prefix }} {{ post.firstName }} {{ post.lastName }} {{ post.address }} {{ post.townland }} {{ post.phone }} {{ post.fax }} {{ post.email }} {{ post.noResidents }} {{ post.noDoubleBeds }} {{ post.noSingleBeds }} {{ post.waterSupply }}</span>
        </li>
      </ul>
    </div>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.js'></script>
    <script src='/app.js'></script>
  </body>
</html>
