<html>
  <head>
    <script src="http://simplewebrtc.com/latest.js"></script>
  </head>
  <body>
    <br>
    <div "NOTE: the WebRTC video chat function will only work on chrome and firefox browsers"></div>

    <div class="col-md-5 about-info-left">
        <h4>Remote Video</h4>
        <div id="remoteVideo"></div>
        </div>
        <div class="col-md-7 about-info-right">
          <h4>Local Video</h4>
          <div id="localVideo"></div>
    </div>
    <script>
      var webrtc = new SimpleWebRTC({
      localVideoEl: 'localVideo',
      remoteVideosEl: 'remoteVideo',
      autoRequestMedia: true
    });
      webrtc.on('readyToCall', function () {
        webrtc.joinRoom('site-investigation-test123');
      });
    </script>
  </body>
</html>

